doctype html
html(lang="en")
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include  includes/nav.pug
        aside.left
            include includes/aside.pug
        main
            article
                section
                    h2 RAAV
            div
                .bottom_navbar
                    //.back
                    //    a(href="#") &#171; back
                .bottom_navbar
                    .next
                        a(href="outline.html") next &#187;
        footer
            include includes/footer.pug